body {
    background-color: #131720;
    font-family: sans-serif;
    color: white;
    margin-left: 4.5%;
}
.table-container {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    margin: 25px 0;
    
}
.top-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.7em;
    min-width: 225px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}
.top-table tr {
    color: black;
}
.top-table th  {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.top-table th,
.top-table td {
    padding: 5px;
}

.top-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.top-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.top-table tbody tr:nth-of-type(odd) {
    background-color: #dbcfcf;
}

.top-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.top-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.amount-col {
    width: 10px;
    white-space: nowrap;
}

.top-table td input {
    max-width: 80px; 
}

#budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 100px;
    background-color: #77e6a7;
    color: black;

}

.budget-metric {
    display: flex;
    align-items: center;
}

.budget-metric p {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.budget-metric h3, .budget-metric p {
    margin: 0;
    line-height: 2;
    margin-top: 5px;
}

#input-section {
    display: flex;
}